<!DOCTYPE html>
<html lang="es">
{% load static %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarWashington</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'core\css\bootstrap.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#">CarWashington</a>
            <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"> Inicio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'galeria' %}"> Galeria </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quienesSomos' %}">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ubicacion' %}">Ubicación</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'formulario' %}">Lista de Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'formularioInsumo' %}">Lista de Insumos</a>
                  </li>
                
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <section id="banner">
            <img src="{% static 'core/img/slider-car-splash-1087x531.jpg' %}" alt="">
        </section>
        {% block contenido %}

        {% endblock %}

    </main>

    <footer>
        <div class="contenedor">
            <p><h1>CarWashington</h1></p>
            <nav class="indice">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'galeria' %}">Galeria</a>
                <a href="{% url 'quienesSomos' %}">Quienes Somos</a>
                <a href="{% url 'ubicacion' %}">Ubicación</a>
                <a href="{% url 'formulario' %}">Lista de Clientes</a>
                <a href="{% url 'formularioInsumo' %}">Lista de Insumo</a>
                
                

            </nav>

        </div>
    </footer>

</body>

</html>