{% extends 'core/base.html' %}
{% load static %} {% static 'core/ ' %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'core\css\bootstrap.css' %}">

<section>
    <a href="{% url 'agregarEmpleado' %}" class="btn-primary">Agregar Empleado</a>
    
    
</section>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">RUT</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">APELLIDO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">NOMBRE DE USUARIO</th>
            <th scope="col">TIPO</th>
            <th scope="col">OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for aux in listaEmpleados %}
            <tr>
                <th scope="row" ></th>  
                <td>{{aux.rut}}</td>
                <td>{{aux.nombre}}</td>
                <td>{{aux.apellido}}</td>
                <td>{{aux.email}}</td>
                <td>{{aux.nombreUsuario}}</td>
                <td>{{aux.tipo}}</td>
                <td>
                    <button type="button" class="btn btn-light"><a href="{% url 'modificarEmpleado' aux.id %}" >Modificar</a></button>
                    <button type="button" class="btn btn-light"><a href="{% url 'eliminarEmpleado' aux.id %}" >Eliminar</a></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}