{% extends 'core/base.html' %}
{% load static %} 
{% block contenido %}
<section id="galeria">
    <h1>Galeria</h1>
    <div class="contenedor">
        <a href="{% static 'core/img/Galeria_Personal.jpg' %}" data-lightbox="personal1" data-title="Foto del Personal">
            <img src="{% static 'core/img/Galeria_Personal.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Personal2.jpg' %}" data-lightbox="personal1" data-tite="Foto del Personal">
            <img src="{% static 'core/img/Galeria_Personal2.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Personal3.jpg' %}" data-lightbox="personal1" data-tite="Foto del Personal">
            <img src="{% static 'core/img/Galeria_Personal3.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Personal4.jpg' %}" data-lightbox="personal1" data-tite="Foto del Personal">
            <img src="{% static 'core/img/Galeria_Personal4.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Sucursales1.jpg' %}" data-lightbox="personal1" data-title="Foto de Sucursal">
            <img src="{% static 'core/img/Galeria_Sucursales1.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Sucursales2.jpg' %}" data-lightbox="personal1" data-title="Foto de Sucursal">
            <img src="{% static 'core/img/Galeria_Sucursales2.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Sucursales3.jpg' %}" data-lightbox="personal1" data-title="Foto de Sucursal">
            <img src="{% static 'core/img/Galeria_Sucursales3.jpg' %}" alt="">
        </a>
        <a href="{% static 'core/img/Galeria_Sucursales4.jpg' %}" data-lightbox="personal1" data-title="Foto de Sucursal">
            <img src="{% static 'core/img/Galeria_Sucursales4.jpg' %}" alt="">
        </a>

    </div>

</section>
{% endblock %}