{% extends 'core/base.html' %}
{% load static %} {% static 'core/ ' %}
{% block contenido %}}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Modifique los datos del Insumo</h1>
        <form class="form-inline" action="" method="POST">
            {% csrf_token %}
            <table style="margin-bottom: 3%;">
                {{form}}
            </table>
            <input type="submit" class="btn btn-success" value="Guardar" style="margin-left: 2%;">
            <input type="reset" class="btn btn-danger" value="Limpiar" style="margin-left: 2%;">
        </form>
    
        {{ mensaje }}

    </div>    
    <div class="col-sm-2"></div>

</div>

{% endblock %}