{% extends 'core/base.html' %}
{% load static %} 
{% block contenido %}
<section id="ubicacion">
    <h1>Donde Ubicarnos</h1>
<div class="contenedor">
    <article class="mapa" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.152601404365!2d-70.58064948426126!3d-33.60134481265944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d7015e3830e7%3A0x28a1cf9010a35817!2sPlazuela%20Independencia%20-%20Puente%20Alto!5e0!3m2!1ses-419!2scl!4v1604045682663!5m2!1ses-419!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
     </article>

    <article class="foto">
        <img src="{% static 'core/img/Las_Mercedes.pjg.jpg' %}" alt="">
        <p>Region Metropolitana/Santiago/Puente Alto</p>
        <p>Metro Estación Las Mercedes</p>
        <p>Av. Concha Y Toro 1064</p>
        <p>Abierto de Lunes a Sabado de 8:30 AM Hasta las 22:00 PM</p>
        <p></p>
    </article>


</div>

</section>
{% endblock %}