footer .contenedor{
    text-align: center;
    font-size: 10px;
    background-color:  rgb(44, 42, 42);
    padding: 30px;
    border-top:  rgb(28, 136, 136) 1px;
    border-bottom:  rgb(28, 136, 136) 1px;
    color: white;
}



footer .indice a{
    text-decoration: none;
    color: rgb(202, 196, 196);
}

