#galeria h1{
    text-align: center;
}

#galeria .contenedor{
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#galeria a{
    margin: 15px;
}

#galeria .contenedor img{
    width: 250px;
    height: 250px;
}

#galeria .contenedor img:hover{
    transform: scale(1.1);
    border: solid 5px rgb(28, 136, 136);
}