*{
    box-sizing: border-box;
}

.login{
    width: 500px;
    background:  rgb(28, 136, 136);
    margin: auto;
    margin-bottom: 5%;
    padding: 50px ;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.formu-titulo{
    background: rgb(126, 223, 255);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(0, 0, 0);
}



.form-group{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn-primary{
    background: rgb(177, 108, 255);
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    
}


